# Ignoră toate directoarele target din subfoldere
**/target/

# Ignoră toate fișierele Cargo.lock doar dacă sunt librării
# Dacă TOATE sunt executabile, poți șterge linia de mai jos
**/Cargo.lock

# Fișiere temporare sau specifice IDE-urilor
**/*.rs.bk
**/*.swp
**/*.swo
.DS_Store
.idea/
.vscode/

__pycache__/
certs/
